<div class="row">
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="col-md-4 inner-addon left-addon">
          <span><i class="bi bi-search"></i></span>
          <input
            class="form-control form-control-sm"
            placeholder="Que cherchez vous ?"
            formControlName="keyword"
            type="text"
          />
        </div>
  
        <div class="col-md-3 inner-addon left-addon">
          <span> <i class="bi bi-geo-alt"></i> </span>
          <input
            class="form-control form-control-sm"
            placeholder="Ville"
            formControlName="city"
            type="text"
          />
        </div>
  
        <div class="col-md-2 inner-addon left-addon">
          <img src="/assets/images/proximite_20px.png" alt="" />
          <input
            placeholder="Proximité"
            class="form-control form-control-sm"
            formControlName="proximity"
            type="text"
          />
        </div>
  
        <div class="col-md-1">
          <button class="form-control" class="btn btn-search">Rechercher</button>
        </div>
      </div>
    </form>
  </div>
  