
.sector-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-first {
    min-width: 160px;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-second {
    min-width: 145px; 
}

.btn-third {
    min-width: 145px;
}

.btn-fourth {
    min-width: 160px;
}

.btn-fifth {
    min-width: 145px
}

.btn-sixth {
    min-width: 145px;
    padding-left: 0px;
    padding-right: 0px
}
