<div class="ms-3 mb-5">

    <div class="image-container mb-2">
      <img [src]="offer.image" alt="image offer" />
    </div>
  
    <div class="mt-5" class="offer-details-container">

      <div class="candidates-number-container text-center">
        <span class="candidate-number"> {{ offer.applications }}</span>
      </div>

      <p class="text-center p-title-container">{{ offer.title }}</p>
      <p class="text-center p-place-container">
        <span class="place"> {{ offer.location }} </span>
      </p>
    </div>
  
    <div class="mt-2">
      <button class="btn w-100">
        <span class="btn-candidacies">Voir les candidatures</span>
      </button>
    </div>

  
</div>
