.input-gallery {
    background: rgba(255,255,255, 1.0);
    cursor: pointer;
  }
.btn-upload-gallery {
    cursor: pointer;
  }
label {
    font-size: 15px;
}

.picture-container {
    position: relative;
}

.delete-icon {
    position: absolute;
    top: 0px;
    right: 0px;
}

.bi-x:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

img {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}