<div class="toast-container position-absolute start-50 translate-middle p-3" style="top: 5rem; z-index: 11">
  <div class="toast" #userToast role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto text-success">Modification réussi !</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Votre profil a été modifié avec succès !!!
    </div>
  </div>
</div>

<div class="profil-container">
  <div class="basic-info">
    <!-- ---------------------- ---------------
    <p>Profil: {{ profilForm.value | json }}</p>
    <p>Video: {{ videoForm.value | json }}</p> --> 
    <user-profile-basic-info
      *ngIf="candidate"
      [basicInfoForm]="basicInfoForm"
      [user]="user"
      [candidate]="candidate"
      (showToastNotification)="onShowToast($event)"
    >
    </user-profile-basic-info>

    <div>
      <candidate-experience
        *ngIf="candidate"
        [basicInfoForm]="basicInfoForm"
      ></candidate-experience>
    </div>

    <div>
      <candidate-formation
        *ngIf="candidate"
        [basicInfoForm]="basicInfoForm"
      ></candidate-formation>
    </div>

    <div>
      <candidate-language *ngIf="candidate" [basicInfoForm]="basicInfoForm">
      </candidate-language>
    </div>

    <div>
      <other-info *ngIf="candidate" [basicInfoForm]="basicInfoForm">
      </other-info>
    </div>

    <div class="galleries-container">
      <candidate-photos-gallery
        *ngIf="candidate"
        [candidatefromparent]="candidate"
        [user]="user"
      ></candidate-photos-gallery>
    </div>
  </div>
</div>
