<div class="profil-container">
  <div class="basic-info">
    <!-- ---------------------- ---------------
    <p>Profil: {{ profilForm.value | json }}</p>
    <p>Video: {{ videoForm.value | json }}</p> -->

    <user-profile-basic-info
      *ngIf="candidate"
      [basicInfoForm]="basicInfoForm"
      [user]="user"
      [candidate]="candidate"
    >
    </user-profile-basic-info>

    <div>
      <candidate-experience
        *ngIf="candidate"
        [basicInfoForm]="basicInfoForm"
      ></candidate-experience>
    </div>

    <div>
      <candidate-formation
        *ngIf="candidate"
        [basicInfoForm]="basicInfoForm"
      ></candidate-formation>
    </div>

    <div>
      <candidate-language *ngIf="candidate" [basicInfoForm]="basicInfoForm">
      </candidate-language>
    </div>

    <div>
      <other-info *ngIf="candidate" [basicInfoForm]="basicInfoForm">
      </other-info>
    </div>

    <div class="galleries-container">
      <candidate-photos-gallery
        *ngIf="candidate"
        [candidatefromparent]="candidate"
        [user]="user"
      ></candidate-photos-gallery>
    </div>
  </div>
</div>
