// .accesslogin-container {
//     height: 100%;
//     margin: 0;
//     padding: 0;
 
// }

// .login-wrapper {
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     // align-content: center;
// }
.login-container {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 100%;
    height: 35px;
}

form {
    width: 250px;   
}

input::-webkit-input-placeholder {
    color: black; 
    opacity: 0.4;
}
