<div class="login-container" [ngClass]="setClasses()">
  <div>
    <form>
      <!-- <p style="text-align: center; color: white">Votre Logo ici</p> -->
      <button
        [routerLink]="['/authentication']"
        type="button"
        class="btn btn-light m-2"
      >
        Connexion
      </button>

      <ng-container *ngIf="isAdminLink; else candidateLink">
        <button
          [routerLink]="['/admin/signup']"
          type="button"
          class="btn m-2"
          style="background-color: var(--default-color)"
        >
          Créer mon compte
        </button>
      </ng-container>
      <ng-template #candidateLink>
        <button
          [routerLink]="['/candidate/signup']"
          type="button"
          class="btn m-2"
          style="background-color: var(--default-color)"
        >
          Créer mon compte
        </button>
      </ng-template>
    </form>
  </div>
</div>
