:host {
    display: flex;
    justify-content: space-between
}

.no-year, .year-one, .year-1-2, .year-3-4 {
    width: 78px;
    height: 30px;
   }
  
.year-5 {
    width: 92px;
    height: 30px;
   }

