:host {
    display: flex;
    justify-content: space-between;
}

.apprentis-status {
    width: 84px;
    height: 30px;
}

.student-status,
.active-satus,
.emploi-status,
.not-active-status {
    width: 90px;
    height: 30px;
}
