
.content-container {
    height: 100vh;
}

.candidateBackground {
    background-color: var(--primary-color);
}

.adminBackground{
    background-color: var(--secondary-color);
}

.defaultBackground {
    background-color: var(--default-color);
}