<nav *ngIf="user" id="sidebar" [ngClass]="setNavBarBackground()">
  <div>
    <div class="sidebar-header" [ngClass]="setNavBarBackground()">
      <span class="logo larger">@</span>
      <span class="logo smaller">votre</span
      ><span class="logo larger">logo</span>
    </div>

    <ul class="list-unstyled components">
      <li *ngIf="!authService.user?.isAdmin">
        <a href="#">
          <i class="bi bi-search"></i>
          <span>Rechercher une offre d'emploi </span>
        </a>
      </li>

      <li *ngIf="authService.user?.isAdmin">
        <a href="#">
          <i class="bi bi-search"></i>
          <span>Rechercher des candidats</span>
        </a>
      </li>
      <!-- for candidate  -->
      <li *ngIf="!authService.user?.isAdmin" class="active">
        <a
          href="#jobOfferSubmenu"
          data-bs-toggle="collapse"
          [ngClass]="setAreaExpandedClass()"
          [attr.aria-expanded]="isExpanded"
          class="dropdown-toggle"
        >
          <i class="bi bi-folder2-open"></i>
          <span>Offre d'emploi</span>
        </a>
        <ul class="collapse list-unstyled" id="jobOfferSubmenu">
          <li>
            <a href="#" class="submenu" [ngClass]="setNavBarBackground()"
              >Offres archivée</a
            >
          </li>
          <li>
            <a href="#" class="submenu" [ngClass]="setNavBarBackground()"
              >Offres postulées</a
            >
          </li>
        </ul>
      </li>
      <!-- liste des candidats (admin) -->
      <li *ngIf="authService.user?.isAdmin" class="active">
        <a
          href="#candidates"
          data-bs-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="bi bi-folder2-open"></i>
          <span>Candidats</span>
        </a>
        <ul class="collapse list-unstyled" id="candidates">
          <li>
            <a href="#" class="submenu" [ngClass]="setNavBarBackground()"
              >Candidatures</a
            >
          </li>
          <li>
            <a href="#" class="submenu" [ngClass]="setNavBarBackground()"
              >Candidats sélectionnés</a
            >
          </li>
        </ul>
      </li>

      <!-- Publier offre candidats (admin) -->
      <li *ngIf="authService.user?.isAdmin">
        <a [routerLink]="['/admin/publishOffer']">
          <i class="bi bi-plus-circle"></i>
          <span>Publier une offre </span>
        </a>
      </li>

      <!-- Mes offres (admin) -->
      <li *ngIf="authService.user?.isAdmin" class="active">
        <a
          href="#myOffers"
          data-bs-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="bi bi-folder2-open"></i>
          <span>Mes offres</span>
        </a>
        <ul class="collapse list-unstyled" id="myOffers">
          <li>
            <a href="#" class="submenu" [ngClass]="setNavBarBackground()"
              >Offres publiées</a
            >
          </li>
          <li>
            <a href="#" class="submenu" [ngClass]="setNavBarBackground()"
              >Offres archivées</a
            >
          </li>
        </ul>
      </li>

      <!-- admin -->

      <li *ngIf="authService.user?.isAdmin">
        <a href="#">
          <i class="bi bi-plus-circle"></i>
          <span>Améliorez leurs chances</span>
        </a>
      </li>

      <!-- (candidat) -->
      <li *ngIf="!authService.user?.isAdmin">
        <a href="#">
          <i class="bi bi-lightning-charge"></i>
          <span>Améliorer vos chances</span>
        </a>
      </li>

      <!-- (candidat) -->
      <li *ngIf="!authService.user?.isAdmin">
        <a href="#">
          <img
            src="/assets/images/search_candidate_20px.png"
            alt="avatar icon"
          />
          <span class="icon_company">Entreprises qui recrutent</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-chat"></i>
          <span>Messagerie</span></a
        >
      </li>
      <li>
        <a href="#">
          <!-- <i class="bi bi-person"></i> -->
          <img src="/assets/images/user_20px.png" alt="" />
          <span class="icon_profil">Profil</span></a
        >
      </li>
      <li>
        <a href="#">
          <i class="bi bi-gear"></i>
          <span>Paramètres</span></a
        >
      </li>
      <li>
        <a [routerLink]="['/authentication']" (click)="logOut()">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Déconnexion</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
