<div class="container">
  <p class="heading_2">MES OFFRES</p>
  <div class="row mt-4">
    <div class="col-md-2">
      <button
        [routerLink]="['/offers/publishedOffers']"
        type="button"
        class="btn btn-outline"
      >
        Offres publiées
      </button>
    </div>
    <div class="col-md-2 ms-3">
      <button class="btn btn-outline">Offres archivées</button>
    </div>
    <div class="col-md-2 ms-3">
      <button class="btn btn-outline">Importer mes offres</button>
    </div>
  </div>
</div>
