.signup-container {
    margin-top: 120px;
}

.hidden-file-input{
  display: none;
}

.input-profile {
  background: rgba(255,255,255, 1.0);
  cursor: pointer;
}

.btn-upload-profile {
  cursor: pointer;
}

.heading_1 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.heading_2 {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

input, textarea {
    opacity: 0.7;
    padding-left: 16px;
}

.p-error {
  margin-bottom: 0;
  margin-left: 17px;
  font-size: 0.8rem;
  color: rgba(255,0,0,0.8)
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-submit-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  button {
    border: 0.2em solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 8px;
  }

  .submit {
    color: var(--default-color);
    background-color: var(--primary-color);
    border: 0.2em solid var(--primary-color); 
  }
 }

 .btn-container {
  display: flex;
  justify-content: space-between
 }

 .btn-add-experience, .btn-add-formation {
  color: white;
  background: var(--secondary-color);
  height: 29px;
  min-width: 8.5rem;
  font-size: 13px;
 }


 .btn-delete-experience {
  height: 29px;
  font-size: 13px;
  margin-bottom: -30px;
 }

 .btn:disabled {
  opacity: 0.65;
}