<div class="signup-container">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <p>Inscription</p>
      <div class="basic-container">
        <form>
          <div class="row mb-2">
            <div class="col-md-5">
              <label for="prenom">Prénom</label>
            </div>
            <div class="col-md-7">
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Prénom"
              />
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-5">
              <label for="nom">Nom</label>
            </div>
            <div class="col-md-7">
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Nom"
                id="nom"
              />
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-5">
              <label for="email">email</label>
            </div>
            <div class="col-md-7">
              <input
                type="email"
                class="form-control form-control-sm"
                placeholder="Adresse email"
                id="email"
              />
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-5">
              <label for="password">Mot de passe</label>
            </div>
            <div class="col-md-7">
              <input
                type="password"
                class="form-control form-control-sm"
                placeholder="Mot de passe"
                id="password"
              />
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-5">
              <label for="confirmpassword">Confirmation</label>
            </div>
            <div class="col-md-7">
              <input
                type="password"
                class="form-control form-control-sm"
                placeholder=" Confirmation du mot de passe"
                id="confirmpassword"
              />
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-5">
              <label for="profilepicture">Photo de profil</label>
            </div>
            <div class="col-md-7">
              <div class="input-group input-group-sm">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Ajouter une photo"
                  id="profilepicture"
                />
                <span class="input-group-text">Télécharger</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="experience-container">
        <div class="row">
          <p class="col-md-12">Ajouter une expérience</p>
        </div>
        <form>
          <div class="row mb-4">
            <div class="col-md-5">
              <label for="occupiedPost">Poste occupé :</label>
            </div>
            <div class="col-md-7">
              <div class="input-group input-group-sm">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Aucune entreprise ajoutée"
                  id="occupiedPost"
                />
                <span class="input-group-text">&nbsp;&nbsp;</span>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-5">
              <label>Durée du poste occupée :</label>
            </div>
            <div class="col-md-7">
              <!-- <div class="row">
                <div class="col-md-3">
                  <button class="btn btn-outline-secondary btn-sm">Sans</button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-sm btn-outline-secondary">
                    &gt; 1 ans
                  </button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-sm btn-outline-secondary">
                    1 - 2 ans
                  </button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-sm btn-outline-secondary">
                    3 - 4 ans
                  </button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-sm btn-outline-secondary">
                    + de 5 ans
                  </button>
                </div>
              </div> -->
              <div style="display: flex; justify-content: space-between">
                <button class="btn" style="width: 78px; height: 30px">
                  Sans
                </button>
                <button class="btn" style="width: 78px; height: 30px">
                  &gt; 1 an
                </button>
                <button class="btn" style="width: 78px; height: 30px">
                  1 - 2 ans
                </button>
                <button class="btn" style="width: 78px; height: 30px">
                  3 - 4 ans
                </button>
                <button class="btn" style="width: 92px; height: 30px">
                  + de 5 ans
                </button>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-5">
              <label for="entreprise">Nom de l'entreprise</label>
            </div>
            <div class="col-md-7">
              <div class="input-group input-group-sm">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Le mea culpa"
                  id="entreprise"
                />
                <span class="input-group-text">&nbsp;&nbsp;</span>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-5">
              <label for="description">Description</label>
            </div>
            <div class="col-md-7">
              <textarea class="form-control" rows="4" name="" id=""></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
