
@keyframes ldio-yj6m4u7q1v {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-yj6m4u7q1v div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid var(--primary-color);
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-yj6m4u7q1v div {
  animation: ldio-yj6m4u7q1v 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-2z2vy30iwtr {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-yj6m4u7q1v {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-yj6m4u7q1v div { box-sizing: content-box; }
